parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getDriver\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::temporaryUrl\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::url\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::moveElementAfter\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::moveElementBefore\(\)#'